{% extends 'sh/layout.html' %}
{% load static %}

{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <form method="GET" action=".">
            <div class="aling-bottom d-inline-block">
				<label for="fecha_min">Desde</label>
				 {{ filtro_form.desde }}
				 {{ filtro_form.desde.errors }}
			 </div>
			 <div class="aling-bottom d-inline-block">
				 <label for="fecha_max">Hasta</label>
				 {{ filtro_form.hasta }}
				 {{ filtro_form.hasta.errors }}
			 </div>
            {% include "sh/filtro_form.html" %}
        </form>
        <br>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Comando</th>
                        <th>Usuario guardado</th>
                        <th>Fecha guardado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for obj in list.object_list %}
                    <tr>
                        <td><a href="{% url 'sh:command' obj.command.pk %}">{{ obj.command.start }}</a></td>
                        <td><a href="{% url 'sh:command' obj.command.pk %}">{{ obj.command.end }}</a></td>
                        <td><a href="{% url 'sh:command' obj.command.pk %}">{{ obj.command.text|truncatechars:100 }}</a></td>
                        <td><a href="{% url 'sh:command' obj.command.pk %}">{{ obj.user }}</a></td>
                        <td><a href="{% url 'sh:command' obj.command.pk %}">{{ obj.created_at }}</a></td>
                        <td class="text-right">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'sh/paginado.html' %}
        </div>
    </div>
</div>
{% endblock %}
